*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-brand img{
    width: 170px;
}
.carousel-indicators {
    bottom: 13rem;
    flex-direction: column;
    top: 0;
}
.carousel-caption {
    right: 0;
    bottom: 0;
    left: 22%;
    text-align: left;
    top: 19rem;
    z-index: 9999;
}
.offcanvas-body {
    display: flex;
    flex-direction: row;
    justify-content: right;
    transform: translateY(27%);
}
.form__dismiss{
    transform: translateY(-31%);
}
.offcanvas-end{
    background: transparent;
    width: 50%;
    border-left: none;
}
.slider__overlay{
    background-color: #000000a4;
    top: 0;
    width: 100%;
    height: 100%;
}
.carousel-indicators [data-bs-target]{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.carousel-indicators .active{
    width: 7px;
    height: 53px;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}
.sliderForm{
    background-color: rgba(255, 255, 255, 0.247);
    padding: 20px;
    height: fit-content;
}
.sliderTitle {
    font-size: 50px !important;
    padding: 13rem 0px !important;
    font-weight: 700;
}
.sliderForm input, .sliderForm textarea{
    padding: 10px;
    width: 100%;
    margin: 12px 0;
    border: 1px solid #ffff;
    background-color: transparent;
    color: #ffff;
}
.nav__radius{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
@media only screen and (min-width:1024px) {
    .nav__radius{
        border-radius: 0px 0px 120px 120px;
        -webkit-border-radius: 0px 0px 120px 120px;
        -moz-border-radius: 0px 0px 120px 120px;
        -ms-border-radius: 0px 0px 120px 120px;
        -o-border-radius: 0px 0px 120px 120px;
}
}
.contactMap{
    width:80%;
}
iframe#gmap_canvas {
    width: 100%;
    height: 50vh;
}
@media only screen and (min-width:1024px) {
    .contactMap{
        width: 80%;
        padding: 0.9375rem 1.25rem 0;
    }
    iframe#gmap_canvas {
        width: 100%;
        height: 50vh;
    }
}
nav.bg-dark{
background: #00000078 !important;
z-index: 5;
}
.title{
    font-size: 40px;
    text-transform: uppercase;
    color: #000000;
    padding: 20px 0;
    font-weight: 700;
}
.sub__title{
    text-transform: capitalize;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
}
.details-bg{
    background: linear-gradient( rgba(255, 255, 255, 0.76), rgba(255, 255, 255, 0.911)),url(./assets/Subtraction\ 19.png) no-repeat;
    background-size: cover;
    /* height: 50vh;
    padding: 75px 0; */
}
.details__card-title{
    color: #000000;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 600;
}
@media only screen and (min-width:1024px) {
    .details-bg{
        height: 50vh;
        background: url(./assets/Subtraction\ 19.png) no-repeat;
    }
    .details{
        height: 90vh;
    }
}
.details__img-hover{
    background: #00000087;
    top: 0;
    color: #ffff;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.figure:hover .details__img-hover{
    opacity: 1;
    transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -ms-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
}
.details__caption-hover{
    display: block;
}
@media only screen and (min-width:1024px) {
    .details__caption-hover{
        display: none;
    }
}
.figure:hover .details__caption-hover{
    display: block;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
}
.contact{
    background-color: #F2F2F2;
    padding: 35px 0;
}
.bg-light-grey{
    background-color: #F2F2F2;
}
.contact .form-control{
    padding: 1.375rem .75rem;
    background-color: #ffff;
}
.form__submit{
    color: #ffff;
    background-color: #000000;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    margin-bottom: 15px;
}
@media only screen and (min-width:1024px) {
    .form__submit{
    padding: 26px 121px;
    }
}
.animationBg{
    height: 50vh;
    background-color: #F2F2F2;
    overflow: hidden;
}
.animationPic{
    position: relative;
    animation: example;
    -webkit-animation: example;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
@keyframes example {
    0%   {left:0px; top:0px;}
    10%   {left:100px; top:0px;}
    20%  { left:200px; top:0px;}
    50%  { left:250px; top:0px;}
    75%  { left:300px; top:0px;}
    85%  { left:350px; top:0px;}
    90%  { left:400px; top:0px;}
    100% {left:0px; top:0px;}
}
.footer li{
    padding-bottom: 15px;
}
.mission{
    background: #F2F0F0;
}
.vision{
    background-color: #ffff;
}
.footer{
    background-color: #000000;
    color: #ffff;
}
.copwrite{
    background-color: #B2C7D6;
    color: #000000;
}
.copwrite a{
    color: #ffff;
}
.footer__title{
    text-transform: capitalize;
    color: #B2C7D6;
}
.socials a{
    color: #ffff;
    font-size: 20px;
    padding: 0 10px;
}
#facebook:hover{
    color:#3b5998 ;
}
#twitter:hover{
    color: #1da1f2;
}
#instagram:hover{
    color: #c32aa3;
}
#snapchat:hover{
    color: #fffc00;
}
#youtube:hover{
    color:#ff0000 ;
}
#tiktok:hover{
    color: #69c9d0;
}
#linkedin:hover{
    color: #0a66c2;
}
/***** chairman *****/
.chairman{
    padding: 75px 0;
    background: linear-gradient( rgb(0 0 0 / 76%), rgba(0, 0, 0, 0.89)),url(./assets/cc3ecd58-36a5-41fc-a0de-a9a64c324732.png) no-repeat 50%;
    background-size: cover;
}
.message
    {
    background: linear-gradient( rgb(0 0 0 / 76%), rgba(0, 0, 0, 0.911)),url(./assets/Subtraction\ 24.png) no-repeat ;
    background-position: center bottom;
    background-size: cover;
    padding: 35px 0;
    }
.light-blue{
    color: #B2C7D6;
}
/***** End chairman *****/
/***** projects *****/
.projects-bg{
    background: linear-gradient( rgba(255, 255, 255, 0.76), rgba(255, 255, 255, 0.911)),url(./assets/Subtraction\ 19.png) no-repeat ;
    background-size: cover;
    padding: 75px 0;
}
/***** End projects *****/
/***** company *****/
.gem-shape{
    margin-bottom: 15px;
    text-align: center;
    padding: 24px;
    background: #B2C7D6;
    display: inline-block;
    transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
/***** End company *****/
/***** news *****/
.carousel-control-next, .carousel-control-prev{
    background-color: #EFEFEF;
    height: fit-content;
    padding: 26px;
    width: auto;
    top: 23rem !important;
    right: 70rem;
}
.newProject{
    padding: 75px 0;
}
/***** End news *****/
.about{
    padding: 75px 0;
}